.homeUsersWrapper{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    background: #fff;
    display: flex;
    padding: 20px;
}

/* statuses Styles */
.statuses {
    width: 30%;
    border-right: 1px solid rgb(239, 239, 239);
    padding: 20px;
}
.statuses > h2{
    font-size: 30px;
    color: #5c5c5c;
}
.statuses > .statuseTypes > div{
    display: flex;
    align-items: center;
    margin: 25px 0;
    flex-wrap: wrap;
}
.statuses > .statuseTypes > div > span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.waiting{
    background: rgb(255, 255, 70);
}
.in_progress{
    background: rgb(255, 205, 80);
}
.done{
    background: rgb(52, 249, 52);
}
.failed{
    background: rgb(249, 105, 52);
}
.statuses > .statuseTypes > div > p{
    font-size: 25px;
    color: #5c5c5c;
}


/* mainContent  Styles */
.mainContent{
    width: 70%;
    padding: 20px;
    height: 100%;
}

/* mainContent search part Styles */
.mainContent > .searchWrapper{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(239, 239, 239);
    margin-bottom: 20px;
    margin-top: 10px;
}
.mainContent > .searchWrapper input{
    width: 100%;
    padding: 5px;
}

/* mainContent search part Styles */
.mainContent > .usersWrapper{
    margin-bottom: 10px;
    height: calc(100% - 120px);
    overflow: hidden;
}
.user{
    border: 2px solid rgb(202, 202, 202);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #5c5c5c;
    text-decoration: none;
    display: block;
}
.user > h2{
    margin-bottom: 10px;
    padding: 5px;
}
.user > .statusAndData{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.notFound > button{
    padding: 10px;
    margin-top: 20px;
}

/* mainContent pagination Wrapper Styles */
.mainContent > .paginationWrapper{
    border-top: 1px solid rgb(239, 239, 239);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContent > .paginationWrapper>button{
    width: 30px;
    height: 30px;
    margin: 5px;
    font-weight: bold;
}

/* media style */
@media (max-width: 600px) {
    .App{
        background: none;
    }
    .homeUsersWrapper{
        flex-direction: column;
        width: 90%;
    }
    .homeUsersWrapper> div {
        width: 100%;
        border: none;
    }

    /* user page Style */
    .userWrapper{
        flex-direction: column-reverse;
        height: auto !important;
        width: 90%;
    }
    .userWrapper> div{
        width: 100%;
    }
}